body, p{margin: 0;}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "footer footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
.grid-container>*{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

#header {
    grid-area: header;
    background-color: green;
    color: white;
    text-align: center;
    height: 100px;

}

#sidebar {
    grid-area: sidebar;
    background-color: lightgray;
    text-align: center;

}

#content {
    display: grid;
    grid-template-columns: repeat(1, 80%);
    grid-area: content;
    text-align: center;
}

#content p{background-color: deepskyblue; color: white; line-height: 100px;}

#footer {
    grid-area: footer;
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
}
