/* 전체 요소를 선택하는 선택자 */
/* * {
    color:violet;
} */

div {
    color:coral;
}

#idSelector {
    color: red;
}

.classSelector {
    background-color: aqua;
}

a[href] {
    background-color: red;
}

a[target="_blank"] {
    background-color: yellow;
}