
/* 동적 가상 클래스 선택자 */
span:hover {
    background-color: fuchsia;
}

span:active {
    background-color: yellow;
}

/* a 태그 가상 클래스 선택자 */
a:link {
    background-color: pink;
    color: black;
}

a:visited {
    background-color: aqua;
    font-size: 49px;
    color: red;
}

/* input 태그 가상 클래스 선택자 */
input[name="id"]:focus {
    color: red;
    outline: 2px solid red;
}

input:checked + label {
    color : blue;
    background-color: yellow;
}

input:disabled, button:disabled {
    background-color: aqua;
    color: red;
}

input:enabled, button:enabled {
    background-color: green;
    color: blue;
}
